---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}



<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
 <section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">DAVID<br>FLETCHER.</h1>
            <div class="cs-flex-group">
                <p class="cs-text">"Pray as if everything depends on prayer, and work as if everything depends on work."</p>
                <a href="/about" class="cs-button-solid">WHO IS DAVID?</a>
            </div>

            

        </div>
    </div>


    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/David-hero-mobile.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/David.jpg">
        <source media="(min-width: 360px)" srcset="/assets/images/David.jpg">
        <img decoding="async" src="/assets/images/David-hero-mobile.jpg" alt="David" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Projects                    -->
<!-- ============================================ -->

<section id="projects-604">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Some of our residential painting projects</h2>
            </div>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Project 1</span>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis Theme natoque penatibus et magnis dis parturient montes.
                        </p>
                        <span class="cs-number">01</span>
                    </div>
                    <h3 class="cs-h3">Granville Project</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Project 1</span>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis Theme natoque penatibus et magnis dis parturient montes.
                        </p>
                        <span class="cs-number">02</span>
                    </div>
                    <h3 class="cs-h3">Granville Project</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/bathroom1.jpg" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Project 1</span>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis Theme natoque penatibus et magnis dis parturient montes.
                        </p>
                        <span class="cs-number">03</span>
                    </div>
                    <h3 class="cs-h3">Granville Project</h3>
                </a>
            </li>
        </ul>
    </div>
</section>
                                


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-29">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Best-In-Class</span>
            <h2 class="cs-title">Home Renovation Experts in Oak Harbor</h2>
            <p class="cs-text">
                Facilisis condimentum viverra scelerisque ac morbi sit sed. Turpis sagittis in blandit eleifend tortor ullamcorper eu placerat. Et orci felis volutpat, etiam vitae egestas volutpat pulvinar. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Foyer</h3>
                    <a class="cs-button-transparent" aria-label="read more about foyers" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Bathrooms</h3>
                    <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Living Rooms</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                







<!-- ============================================ -->
<!--                 Recent Posts                 -->
<!-- ============================================ -->

<section id="blog-1347">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title"> BUSINESS PORTFOLIO </h2>
            <p class="cs-text">
                A collection of businesses built with vision, strategy, and long-term growth in mind. From web design to real estate investments, each venture is focused on innovation, value, and lasting success.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://ik.imagekit.io/6ycdefzj5/2.jpg?updatedAt=1745089553167">
                        <source media="(min-width: 601px)"
                            srcset="https://ik.imagekit.io/6ycdefzj5/betterwebsite.jpg?updatedAt=1745088568169">
                        <img decoding="async"
                            src="https://ik.imagekit.io/6ycdefzj5/betterwebsite.jpg?updatedAt=1745088568169"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Better Website
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                
                                
                            </span>
                            <span class="cs-category">
                                MEDIA
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://ik.imagekit.io/6ycdefzj5/davidrealtormobile.jpg?updatedAt=1745089483926">
                        <source media="(min-width: 601px)"
                            srcset="https://ik.imagekit.io/6ycdefzj5/davidrealtor.png?updatedAt=1744933843205">
                        <img decoding="async"
                            src="https://ik.imagekit.io/6ycdefzj5/davidrealtor.png?updatedAt=1744933843205"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            David Fletcher Realtor
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                               
                            </span>
                            <span class="cs-category">
                                REAL ESTATE
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png">
                        <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Early Access Homes
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                
                                
                            </span>
                            <span class="cs-category">
                                REAL ESTATE
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>



<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-5">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">REAL ESTATE</span>
            <h2 class="cs-title">ENTREPRENEUR</h2>
            <p class="cs-text">
                Ryan is the founder of SERHANT., the multidimensional real estate brokerage at the intersection of technology, media, entertainment, and education.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">$20 Million</span>
                <span class="cs-header">Lifetime sales</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">94.7%</span>
                <span class="cs-header">Closure Rate</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100+</span>
                <span class="cs-header">Happy Clients</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">1</span>
                <span class="cs-header">Year Warranty</span>
            </li>
        </ul>
        <a href="" class="cs-button-solid">VISIT DAVID FLETCHER REATLOR</a>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/tulsa.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/tulsa.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/tulsa.jpg" alt="brick wall" width="1920" height="1282" aria-hidden="true">
    </picture>
</section>
                                
                                
                               
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}